.StartToday {
  background-image: url("../../../Assets/Images/start.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .StartToday {
    padding: 4rem calc(2rem + 3.5vw) !important;
  }
}
@media screen and (max-width: 899.9px) {
  .StartToday {
    gap: 2rem !important;
  }
}
.StartToday > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.StartToday > div:first-of-type {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.StartToday > div:first-of-type h2 {
  font-size: 2rem !important;
  color: var(--white) !important;
  text-align: left;
}
@media screen and (max-width: 399.9px) {
  .StartToday > div:first-of-type h2 {
    font-size: calc(1.2rem + 3vw) !important;
  }
}
.StartToday > div:last-of-type {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 600px) {
  .StartToday > div:last-of-type {
    padding: 0px !important;
  }
}
.StartToday > div:last-of-type a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2rem !important;
  background-color: transparent !important;
  color: var(--white) !important;
  border: 2px solid var(--white) !important;
  font-size: 1rem !important;
  font-weight: 500;
  text-decoration: none;
}